.registrationsWrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;

  display: flex;
  flex: 1;

  width: 500px;
  height: 100vh;
  background-color: antiquewhite;
}

.reservationWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputBox {
  display: flex;
}

.inputLabel {
  width: 100px;
}

.btn {
  cursor: pointer;
}

/* 売上登録 */

.salesWrapper {
  display: flex;
  flex-direction: column;
}
