.calendarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* ----------------------------------- */

.calendarHeader {
  display: flex;
  width: 100%;
  height: 72px;
  padding-top: 30px;
}

/* ----------------------------------- */

.calendarMain {
  display: flex;
  width: 100%;
  height: 100%;
}

.calendarDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 100%;
  padding-left: 70px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}

.timeslotsWrapper {
  display: flex;
  width: auto;
  height: 100%;
  padding-top: 50px;
}

.timeslotList {
  display: flex;
  flex-direction: column;
  width: 70px;
  padding: 0;
  margin: 0;
}

.timeslotItem {
  height: 60px;
  text-align: right;
  padding-right: 5px;
  color: #999999;
}

/* ----------------------------------- */

.calendarWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.horizontalHeightContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  padding-top: 60px;
  height: 100%;
  width: 100%;
}

.horizontalHeight {
  height: 60px;
}
.horizontalHeight::after {
  content: "";
  border-top: 1px solid #f0f0f0;
  position: absolute;
  width: 100%;
  margin-top: 1px;
  z-index: 2;
  pointer-events: none;
}

/* ----------------------------------- */

.eventContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-left: 1px solid #f0f0f0;
}

.calendarColumn {
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 1440px;
  border-right: 1px solid #f0f0f0;
}

/* ----------------------------------- */

.empty {
  height: 15px;
  width: 100%;
}
.empty:hover {
  cursor: pointer;
  background: rgba(0, 162, 106, 0.04);
}
.empty::selection {
  background-color: rgba(0, 162, 106, 0.04);
}

.itemBox {
  position: absolute;
  cursor: pointer;
}
.item {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 2px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  font-size: 12px;
  min-height: 10px;
}
