.side {
  position: fixed;
  z-index: 110;
  min-width: 230px;
  height: 100%;
  /* padding-left: 40px; */
  border-right: 1px solid #f0f0f0;
  color: #9d9cbb;
  background-color: #fff;
  font-size: 18px;
}

.serviceTitle {
  /* height: 100px; */
  margin: 50px 0;
  padding-left: 40px;
  /* padding: 27px 0; */
  font-size: 30px;
  text-align: center;
}

/* ナビゲーション */

.menuContainer {
  padding: 10px 0;
  padding-left: 40px;
  /* border-bottom: 2px solid #f0f0f0; */
}

.menuBox {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.2s 0s ease;
}

.hoverDesign {
  position: absolute;
  top: 0;
  right: 0;
  flex-shrink: 0;
  width: 5px;
  height: 100%;
  border-radius: 40px 0 0 40px;
  transition: all 0.2s 0s ease;
}

.menuBox:hover {
  color: #30a2cf;
}

.menuBox:hover .hoverDesign {
  background-color: #30a2cf;
}

.menuText {
  flex: 1;
  padding-left: 20px;
  height: 100%;
}

/* 本日の予定 */
.todayScheduleContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 40px;
}
.todayScheduleContainer p {
  margin-bottom: 20px;
  /* text-align: center; */
}
.todayScheduleContainer span {
  padding: 0 5px;
  font-size: 20px;
  border-bottom: 1px solid currentColor;
}

.eventIcon {
  color: #9d9cbb;
}

.eventItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  /* padding-left: 20px; */
}

.eventText {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 15px;
}
